@charset 'UTF-8';

:root {
    --sidebar_color: #151A2D;
    --sidebar_text: #e2e2e2;
    --background_color: #FEFEFE;
    --destaque_color: #7C5CFA;    --sucesso_claro: #D0F5DF;
    --sucesso_escuro: #77CDA0;
    --danger_claro: #FECED9;
    --danger_escuro: #F799B5;
    --atencao_claro: #FEE8BE;
    --atencao_escuro: #FDD981;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 40px;
    justify-content: space-between;
    
}

header h1 {
    flex: 1;
}

header .mensagens-container img {
    width: 34px;
}

header .conta-container img {
    margin-left: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

header .conta-container {
    margin-left: 40px;
    display: flex;
    text-align: center;
}

header .conta-nome {
    font-weight: bolder;
}

header .conta-email {
    font-size: 0.9em;
}

.sidebar {
    background-color: var(--sidebar_color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 30px;
}

.sidebar> img {
    width: 200px;
}

.sidebar nav {
    flex: 1;
}

.sidebar ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.sidebar .link {
    font-size: 1.4em;
    text-decoration: none;
    color: var(--sidebar_text);
}

.sidebar .creditos {
    margin-top: 20px;
    text-align: center;
    font-size: .8em;
    color: var(--sidebar_text);
}